.attendees-page {
	display: flex;
	flex-direction: column;
	align-items: center;

	h1 {
		color: $primaryColor;
		margin-top: 40px;
		font-size: 48px;
		text-align: center;
	}
}

.attendees-table {
	margin: 40px 0;
	// table-layout: fixed;
	border-collapse: collapse;
}

tr:nth-child(even) {
	background-color: $lightGray;
}

.cell {
	padding: 3px 10px;
	margin: 0;
	text-align: left;
}

@media only screen and (max-width: 680px) {
	table,
	thead,
	tbody,
	tr,
	th,
	td {
		display: block;
	}
	.attendees-table {
		width: 100%;
		padding: 20px;
	}

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {
		margin: 0 0 1rem 0;
	}

	td {
		border: none;
		border-bottom: 2px solid $offWhite;
		position: relative;
		padding-left: 40% !important;
	}

	td:before {
		position: absolute;
		top: 3px;
		left: 6px;
		width: 45%;
		padding-right: 100px;
		white-space: nowrap;
	}

	td:nth-of-type(1):before {
		content: 'Last name';
	}
	td:nth-of-type(2):before {
		content: 'First name';
	}
	td:nth-of-type(3):before {
		content: 'Email address';
	}
	td:nth-of-type(4):before {
		content: 'Phone number';
	}
	td:nth-of-type(5):before {
		content: 'Golf Handicap';
	}
}
