@import './golfInfo';

.home-container {
	h1 {
		color: $primaryColor;
		text-align: center;
		font-size: 64px;
		padding: 20px;

		@include responsiveSmall($tablet) {
			font-size: 48px;
		}
	}

	h4 {
		font-size: 32px;
		margin-bottom: 20px;
		text-align: center;
	}
}
